header{
	overflow: hidden;
	background: #001219;
}
.head{
	max-width: 1200px;
	overflow: hidden;
	background: #001219;
	margin: 0 auto;
	position: relative;
}
.head ul li{
	width: 100px;
	height: 100px;
	margin-left: 20px;
	float: left;
	font-size: 28px;
	font-family:"微软雅黑 Light";
	/*font-weight: bold;*/
	color: #fff;
	text-align: center;
	line-height: 100px;
	transition: all 0.3s linear;
}
.head ul li:hover{
	transform: scale(1.5);
	box-shadow: 0 20px 8px 4px rgba(0, 0, 0, 0.2);
}
.head input{
	width: 200px;
	height: 30px;
	position: absolute;
	top: 35px;
	right: 30px;
}
.ss{
	width:30px;
	height: 30px; 
	position: absolute;
	top: 35px;
	right: 0;
	background: #001B24;
}
.t{
	width: 100%;
	height: 100%;
}
.banner{
	height: 900px;
	overflow: hidden;
	background-image: url('../img/banner.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.banner-zhong{
	width: 500px;
	height: 600px;
	/* background: #333; */
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin: auto;
}
.photo{
	width: 400px;
	height: 400px;
	border-radius: 50%;
	margin: 0 auto;
	transition: all 0.5s linear;
}
.photo1{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.photo:hover .photo1{
	transform: scale(1.1);
}
.t1{
	width: 600px;
	height: 80px;
	margin-left: 170px;
	margin-top: 20px;
}
.t2{
	width: 600px;
	height: 80px;
	margin-left: 120px;
}
.content{
	height:100%;
	background: #001219;
	padding-top: 50px;
}
.content1{
	max-width: 1200px;
	height:100%;
	margin: 0 auto;
	position: relative;
	/* border-top: 2px solid #ccc; */ 
}
.content2{
	width: 600px;
	height:15%;
	margin: 0 auto;
}
.content .line{
	float: left;
}
.content .line1{
	float: left;
	margin-left: 25px;
}
.content .line li{
	font-size: 28px;
	font-family: 苹方;
	margin-top: 35px;
	color: #ccc;
}
.content .line1 li{
	font-size: 28px;
	margin-top: 35px;
	font-family: 苹方;
	color: #ccc;
}
.title{
	width: 1200px;
	height: 60px;
	margin:0 auto;
	margin-bottom: 15px;
	transition: all 0.5s linear;
	padding-left: 200px;
}
.title img{
	width: 25%;
	height: 100%;
}
.title:hover{
	box-shadow: 0 20px 8px 4px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
}
.show{
	height:100%;
	background: #001219;
	padding-top: 50px;

}
.show1{
	max-width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	border-top: 2px solid #ccc;
	position: relative;
}
.show2{
	width: 200px;
	height: 60px;
	margin:0 auto;
	margin-top: 30px;
	transition: all 0.3s linear;
}
.show2:hover{
	box-shadow: 0 20px 8px 4px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
}
.show2 img{
	width: 100%;
	height: 100%;
}
.show1 ul{
	width:100%;
	overflow: hidden;
	position: relative;
}
.show1 ul li{
	width: 260px;
	height: 260px;
	background: red;
	float: left; 
	margin-left: 25px;
	margin-top: 25px;
	transition: all 0.3s linear;
	position: relative;
}
/*.show1 ul .lol{*/
	/*margin-left:px;*/
/*}*/
/*.show1 ul .lol1{*/
	/*margin-right:0;*/
/*}*/
.box{
	width: 260px;
	height: 260px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	display: none;
	transition: all 5s linear;
}
.box1{
	width: 100px;
	height: 50px;
	background: rgba(255, 255, 255, 0.1);
	font-size: 40px;
	font-family: 苹方;
	text-align: center;
	line-height: 50px;
	border: 1px solid #ccc;
	position: absolute;
	top: 105px;
	left: 80px;
}
.box2{
	width: 150px;
	height: 50px;
	background: rgba(255, 255, 255, 0.1);
	font-size: 40px;
	font-family: 苹方;
	text-align: center;
	line-height: 50px;
	border: 1px solid #ccc;
	position: absolute;
	top: 105px;
	left:60px;
}
.show1 ul li .tu1{
	width: 100%;
	height: 100%;
}
.show1 ul li:hover{
	box-shadow: 0 20px 8px 4px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
}
.show1 ul li:hover .box{
	display: block;
}
.message{
	height:50%;
	background: #001219;
	padding-top: 50px;
}
.message1{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	position: relative;
}
.message2{
	width: 200px;
	height: 60px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
	transition: all 0.3s linear;
}
.message2:hover{
	box-shadow: 0 20px 8px 4px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
}
.message2 img{
	width: 100%;
	height: 100%;
}
.contact{
	width:740px;
	height:auto;
	margin:0 auto;
	margin-top: 15px;
}
.contact1{
	width:350px;
	height:30px;
	background: #ccc;
	margin-left:15px;
	margin-top: 15px;
	font-size: 18px;
	line-height: 30px;
	color: #555;
}
.contact2{
	width:720px;
	height:30px;
	background: #ccc;
	margin-left:15px;
	margin-top: 20px;
	font-size: 18px;
	line-height: 30px;
	color: #555;
}
textarea{
	width:720px;
	height:150px;
	background: #ccc;
	margin-left:15px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 40px;
	color: #555;
}
.submit{
	display: block;
	width:100px;
	height:30px;
	border:1px solid #fff;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	background: rgba(0,0,0,0);
	position: absolute;
	left:0;
	right:0;
	margin:auto;
	/*z-index:100;*/
}
.foot{
	height:50%;
	background: #001219;
	padding-top: 50px;
}
.foot1{
	max-width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	position: relative;
}
.foot2{
	width: 200px;
	height: 60px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
}
.foot2 img{
	width: 100%;
	height: 100%;
}
.foot3{
	width: 550px;
	overflow: hidden;
	padding: 15px;
	margin: 0 auto;
}
.foot3 .bottom{
	float: left;
	margin-left: 130px;
}
.foot3 .bottom1{
	float: left;
	margin-left: 20px;
}
.foot3 .bottom li{
	width: 30px;
	height: 30px;
	margin-top: 20px;
}
.foot3 .bottom1 li{
	font-size: 25px;
	font-family: 苹方;
	color: #ccc;
	margin-top: 15px;
}
.t8{
	width: 100%;
	height: 100%;
}
@media screen and (min-width:1200px){
	header1{
		display: none;
	}
}
@media screen and (min-width:1000px){
	header1{
		display: none;
	}
}
@media screen and (max-width:1000px){s
	header1{
		display: block;
	}
	.head{
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
		overflow: hidden;
		background: #001219;
		margin: 0 auto;
		position: relative;
	}
	.head-left{
		width: 100px;
		height: 100px;
		float: left;
	}
	.head-zhong{
		width: 100px;
		height: 100px;
		float: left;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}
	.head-right{
		width: 100px;
		height: 100px;
		float: right;
	}
	.icon{
		width: 50px;
		height: 50px;
		margin-top: 20px;
		margin-left: 20px;
	}

	header{
		display: none;
	}
}
.skill{
	width:1200px;
	height:50%;
	/*border:1px dashed #ccc;*/
	background: #001219;
	margin:0 auto;
	position: relative;
}
.skillname{
	width:100%;
	height:10%;
	padding-left: 10px;
	font-size: 26px;
	font-family: 微软雅黑;
	line-height: 28px;
	text-align: center;
	color: #ccc;
}
.skill1{
	width:90%;
	height:70%;
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 30px;
	background: #031C27;
	margin:0 auto;
	overflow: hidden;
}
.skill2{
	width:1994px;
	height:90%;
	margin:0 auto;
	padding-top: 3px;
	transition:all 1s ease;
	position: relative;
}
.skill1 .wf{
	/*display: block;*/
	width:997px;
	height:172px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	left:0;
}
.skill ul li{
	display: block;
	width:210px;
	height:240px;
	float: left;
}
.skill ul li a{
	display: block;
	width:210px;
	height:240px;
	float: left;
	position: relative;
}
.tu{
	width:100%;
	height:100%;
}
.jt1{
	width:25px;
	height:50px;
	background: #001219;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	color: #ccc;
	position: absolute;
	top:175px;
	left:60px;
	cursor: pointer;
	z-index:10;
}
.jt{
	width:25px;
	height:50px;
	background: #001219;
	font-size: 20px;
	text-align: center;
	color: #ccc;
	line-height: 50px;
	position: absolute;
	top:175px;
	right:60px;
	cursor: pointer;
	z-index:10;
}
.skill1 .wf1{
	/*display: block;*/
	width:997px;
	height:172px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	left:997px;
	margin-left: 60px;
}
.ps{
	width:210px;
	height:240px;
	background: rgba(0,0,0,0.8);
	font-size: 30px;
	text-align: center;
	line-height: 240px;
	color: #ccc;
	font-family: 微软雅黑;
	position: absolute;
	top:0;
	left:0;
	display: none;
}
/*.psshow{*/
	/*display: block;*/
/*}*/
.skill ul li a:hover{
	box-shadow: 0 20px 8px 4px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
}
.skill ul li a:hover .ps{
	display: block;
}
.lol{
	position: absolute;
	left:-600px;
}
.lol1{
	position: absolute;
	right:-600px;
}
.lol2{
	position: absolute;
	top:-300px;
}
.lol3{
	position: absolute;
	bottom:-300px;
}
.show3{
	max-width: 1200px;
	height:600px;
	margin: 0 auto;
	border-top: 2px solid #ccc;
	position: relative;
}
.kuai{
	width:300px;
	height:310px;
	float: left;
	border:1px solid #ccc;
	background: red;
	position: absolute;
	top:0;
	bottom:0;
	left:40px;
	margin: auto;
	opacity:0;
	/*z-index:15;*/
}
.kuai1{
	width:300px;
	height:310px;
	float: left;
	border:1px solid #ccc;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
	opacity:0;
}
.kuai2{
	width:300px;
	height:310px;
	float: left;
	border:1px solid #ccc;
	position: absolute;
	top:0;
	right:40px;
	bottom:0;
	margin: auto;
	opacity:0;
}
@keyframes showfly {
	0%{
		opacity:0;
		left:-300px;
	}
	100%{
		opacity:1;
		left:50px;
	}
}
@keyframes showfly1 {
	0%{
		opacity:0;
		top:-300px;
	}
	100%{
		opacity:1;
		left:0;
	}
}
@keyframes showfly2 {
	0%{
		opacity:0;
		right:-300px;
	}
	100%{
		opacity:1;
		right:50px;
	}
}
.showfly{
	 animation: showfly 1s linear forwards;
 }
.showfly1{
	animation: showfly1 1s linear forwards;
}
.showfly2{
	animation: showfly2 1s linear forwards;
}
.kuaitu{
	width:100%;
	height:100%;
	/*float: left;*/
}
.show3 a{
	display: block;
	width:100%;
	height:100%;
	position: relative;
}
.showhover{
	width:300px;
	height:310px;
	background: rgba(0,0,0,0.8);
	font-size: 30px;
	font-family: "苹方 常规";
	text-align: center;
	line-height: 310px;
	color: #ccc;
	position: absolute;
	top:0;
	left:0;
	display: none;
}
.kuai:hover .showhover{
	display: block;
}
.kuai1:hover .showhover{
	display: block;
}
.kuai2:hover .showhover{
	display: block;
}
.eah{
	width:580px;
	height:700px;
	position: absolute;
	top:100px;
	left:0;
	z-index: 20;
}
.jieshao{
	width:580px;
	height:auto;
	float: right;
}
.jieshao h3{
	display: block;
	color: #ccc;
	width:160px;
	height:60px;
	margin:0 auto;
	text-align: center;
	line-height: 30px;
}
.jieshao ul{
	width:100%;
	height:auto;
}
.jieshao ul li{
	display: block;
	width:80%;
	height:70px;
	font-size: 20px;
	/*text-align: center;*/
	line-height: 70px;
	color: #ccc;
	border-bottom: 1px dashed #ccc;
	margin:0 auto;
}